.remirror-theme {
  flex: 1;
  height: 100dvh; 
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.remirror-editor-wrapper {
  overflow-y: hidden;
  flex: 1;
}
.remirror-editor {
  height: 100%;
  overflow-y: auto;
}

.remirror-editor {
  /* height: 100%; */
  
}