---
import { SITE_TITLE } from "@/consts";
import Layout from "@/layouts/MainLayout.astro";
---

<Layout title={`About ${SITE_TITLE}`}>
  <p>
    Y Labs is a playground for trying out new ideas with <a
      class="text-primary underline"
      href="https://github.com/yjs/yjs"
    >
      Yjs
    </a>.
  </p>
</Layout>
