---
import { cn } from "@/lib/utils";
import Card from "./Card.astro";
const { class : className } = Astro.props;
---

<section
  class={cn("flex flex-wrap justify-center items-stretch justify-stretch max-w-7xl w-full mx-auto px-4", className)}
>
  <slot>
    <Card class="flex-1" />
  </slot>
</section>
