---
import { cn } from "@/lib/utils";
import Card from "./Card.astro";
const { class : className } = Astro.props;
---

<section
  class={cn("grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 max-w-7xl mx-auto px-4 pb-12", className)}
>
  <slot>
    <Card class="flex-1" />
  </slot>
</section>
