---
import ThemeSwitch from "@/lib/astro-tailwind-themes/ThemeSwitch.svelte";
import { Navbar, NavbarBrand, NavbarContent } from "@/components/ui/navbar";
import logoRaw from "../../public/lab-icon.svg?raw";
import LinkButton from "@/components/LinkButton.astro";
import { SITE_TITLE } from "@/consts";
import HomeButton from "./HomeButton.astro";
---

<Navbar>
  <NavbarContent>
    <NavbarBrand>
      <HomeButton />          
    </NavbarBrand>
  </NavbarContent>
  <NavbarContent className="flex-1">
    <h2>
      <a href="/y-labs/index.html">
        {SITE_TITLE}
      </a>
    </h2>
  </NavbarContent>
  <NavbarContent>
    <ThemeSwitch client:load />
  </NavbarContent>
</Navbar>
