---
import { card, tv } from "@nextui-org/theme";
import type { CardVariantProps } from "@nextui-org/theme";

interface Props extends CardVariantProps {}
const props = Astro.props;

const nextUiCard = tv({
  extend: card,
  variants: {
    isHoverable: {
      true: {
        base: ["hover:bg-content2"],
      },
    },
    isPressable: {
      true: {
        base: ["active:scale-[0.97]"],
      },
    },
  },
});

const styles = nextUiCard(props);
---

<div class={styles.base()}>
  {
    Astro.slots.has("header") && (
      <div class={styles.header()}>
        <slot name="header" />
      </div>
    )
  }
  <div class={styles.body()}>
    <slot />
  </div>
  {
    Astro.slots.has("footer") && (
      <div class={styles.footer()}>
        <slot name="footer" />
      </div>
    )
  }
</div>
