---
import Layout from "@/layouts/LabLayout.astro";
import App from "@/app/drive/App";
import ThemeSwitch from "@/lib/astro-tailwind-themes/ThemeSwitch.svelte";
import NextuiNavbar from "@/components/NextuiNavbar.astro";
import { CreateDocumentDialogButton } from "@/app/drive/CreateDocumentDialogButton";
import LinkButton from "@/components/NextuiLinkButton.astro";
import logoRaw from "../../../public/lab-icon.svg?raw";

const frontmatter = {
  title: "Saved Documents",
  favicon: "/logos/lucide-drive.svg",
};
---

<Layout frontmatter={frontmatter} class="max-w-3xl mx-auto">
  <NextuiNavbar maxWidth="full">
    <h2 slot="brand" class="flex items-center gap-2">
      <LinkButton variant="light" href="/y-labs/index.html" isIconOnly>
        <span set:html={logoRaw} />
      </LinkButton>
      <div>Saved Documents</div>
    </h2>
    <div slot="end" class="flex gap-2 items-center">
      <CreateDocumentDialogButton client:only="react" />
      <ThemeSwitch client:load />
    </div>
  </NextuiNavbar>
  <App client:only="react" frontmatter={frontmatter} />
</Layout>
