---
import App from "@/app/drive/App";
import { DriveActions } from "@/app/drive/DriveActions";
import LinkButton from "@/components/LinkButton.astro";
import Navbar from "@/components/Navbar.astro";
import Layout from "@/layouts/LabLayout.astro";
import logoRaw from "../../../public/lab-icon.svg?raw";
const frontmatter = {
  title: "Saved Documents",
  favicon: "/y-labs/logos/lucide-drive.svg",
};
---

<Layout frontmatter={frontmatter} class="">
  <div class="h-full w-full max-w-3xl m-auto">
    <Navbar>
      <h2 slot="brand" class="flex items-center gap-2">
        <LinkButton variant="light" href="/y-labs/index.html" isIconOnly>
          <span set:html={logoRaw} />
        </LinkButton>
        <div>Saved Documents</div>
      </h2>
      <div slot="end" class="flex gap-2 items-center">
        <DriveActions client:only="react" />
      </div>
    </Navbar>
    <App client:only="react" frontmatter={frontmatter} />
  </div>
</Layout>
