---
import App from "@/app/drive/App";
import { DriveActions } from "@/app/drive/DriveActions";
import HomeButton from "@/components/HomeButton.astro";
import { Navbar, NavbarBrand, NavbarContent } from "@/components/ui/navbar";
import Layout from "@/layouts/LabLayout.astro";
const frontmatter = {
  title: "Saved Documents",
  favicon: "/y-labs/logos/lucide-drive.svg",
};
---

<Layout frontmatter={frontmatter} class="">
  <div class="h-full w-full max-w-3xl m-auto">
    <Navbar className="sticky top-0 z-50">
      <NavbarContent>
        <NavbarBrand className="gap-1 sm:gap-2">
          <HomeButton />
        </NavbarBrand>        
      </NavbarContent>
      <NavbarContent className="flex-1">
        Saved Documents
      </NavbarContent>
      <NavbarContent>
        <DriveActions client:only="react" />
      </NavbarContent>
    </Navbar>
    <App client:only="react" frontmatter={frontmatter} />
  </div>
</Layout>
