---
import Layout from "./BaseLayout.astro";

const { frontmatter = {}, class: className } = Astro.props;
---

<Layout
  title={frontmatter.title ?? "Untitled Lab"}
  description={frontmatter.description}
  favicon={frontmatter.favicon}
  class={className}
>
  <div class="h-full flex flex-col">
    <main class="flex-1">
      {
        !!frontmatter.pubDate && (
          <p>{frontmatter.pubDate.toString().slice(0, 10)}</p>
        )
      }
      <slot />
    </main>
  </div>
</Layout>
